<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="home">Breguieres</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ng-repeat="item in vm.items" ui-sref-active="inactive" ><a ui-sref="season" ng-click="vm.onTabChange(item)">{{item}}</a></li>
            </ul>
        </div>
    </div>
</nav>