<div class="jumbotron text-center">
    <h3>Room Breguieres</h3>
</div>
<div class="container">
    <ul class="nav nav-tabs">
        <li ng-repeat="item in vm.tab.items">
            <a href="#" ng-click="vm.onChangeTabItem(item)" >{{item}}</a>
        </li>
    </ul>
    <div class="row">
        <div class="col-sm-4">
            <h3>{{vm.season.price.sum}} euros</h3>
            <p></p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
        <div class="col-sm-4">
            <h3>{{vm.season.nbguests}} séjours</h3>
            <p>Durée moyenne de séjour</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
        <div class="col-sm-4">
            <h3>{{vm.season.nbnights}} nuitées</h3>            
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">           
           <!-- <canvas id="bar" class="chart chart-bar" chart-data="vm.season.chart.months.data" chart-labels="vm.season.chart.months.labels" chart-series="vm.season.chart.months.series"></canvas>      -->
        </div>
    </div>
</div>